@page
@model RostrosFelices.Pages.Clientes.IndexModel
@{
    ViewData["Tilte"] = "Index Clientes";
}
<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<h1>Index Clientes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clientes[0].Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clientes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="bnt btn-warning">Edit</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="bnt btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
